when@prod:
    sentry:
        dsn: '%env(SENTRY_DSN)%'
        options:
            # Add request headers, cookies, IP address and the authenticated user
            # see https://docs.sentry.io/platforms/php/data-management/data-collected/ for more info
            send_default_pii: true
            traces_sample_rate: 0.1
            ignore_exceptions:
                - 'Symfony\Component\ErrorHandler\Error\FatalError'
                - 'Symfony\Component\Debug\Exception\FatalErrorException'
                - 'Symfony\Component\HttpKernel\Exception\NotFoundHttpException'
        tracing:
            enabled: true
            dbal: # DB queries
                enabled: true
            cache: # cache pools
                enabled: true
            twig: # templating engine
                enabled: true
            http_client: # Symfony HTTP client
                enabled: true
        # Monolog integration:
        # https://docs.sentry.io/platforms/php/guides/symfony/integrations/monolog/
        register_error_listener: false
        register_error_handler: false

    monolog:
        handlers:
            # Use this only if you don't want to use structured logging and instead receive
            # certain log levels as errors.
            sentry:
                type: service
                id: Sentry\Monolog\Handler

    services:
        Sentry\Monolog\Handler:
            arguments:
                $hub: '@Sentry\State\HubInterface'
                $level: !php/const Monolog\Logger::ERROR
                $fillExtraContext: true # Enables sending monolog context to Sentry
