when@prod:
    sentry:
        dsn: '%env(SENTRY_DSN)%'
        options:
            # Add request headers, cookies, IP address and the authenticated user
            # see https://docs.sentry.io/platforms/php/data-management/data-collected/ for more info
            send_default_pii: true
            traces_sample_rate: 0.1
            enable_logs: true
            ignore_exceptions:
                - 'Symfony\Component\ErrorHandler\Error\FatalError'
                - 'Symfony\Component\Debug\Exception\FatalErrorException'
        tracing:
            enabled: true
            dbal: # DB queries
                enabled: true
            cache: # cache pools
                enabled: true
            twig: # templating engine
                enabled: true
            http_client: # Symfony HTTP client
                enabled: true
        # Monolog integration:
        # https://docs.sentry.io/platforms/php/guides/symfony/integrations/monolog/
        register_error_listener: false
        register_error_handler: false

    monolog:
        handlers:
            sentry_logs:
                type: service
                id: Sentry\SentryBundle\Monolog\LogsHandler

    services:
        Sentry\SentryBundle\Monolog\LogsHandler:
            arguments:
                - !php/const Monolog\Logger::INFO
