<footer class="footer bg-base-300 px-4 py-10 text-base-content">
    <div class="mx-auto grid w-full max-w-6xl gap-8 sm:grid-cols-2 lg:grid-cols-5 hidden">
        <nav>
            <h3 class="footer-title">Company</h3>
            <a class="link link-hover" href="#">About</a>
            <a class="link link-hover" href="#">Security</a>
        </nav>
        <nav>
            <h3 class="footer-title">Resources</h3>
            <a class="link link-hover" href="#">Blog</a>
            <a class="link link-hover" href="#">Status</a>
        </nav>
        <nav>
            <h3 class="footer-title">Legal</h3>
            <a class="link link-hover" href="#">Privacy</a>
            <a class="link link-hover" href="#">Terms</a>
        </nav>
        <nav>
            <h3 class="footer-title">Contact</h3>
            <a class="link link-hover" href="#">Contact Us</a>
        </nav>
        <aside class="place-self-start lg:place-self-end lg:text-right">
            <p class="font-medium">OpenConvert</p>
        </aside>
    </div>
</footer>

<section
    class="bg-base-300 pb-12"
    data-controller="processed-counter"
    data-processed-counter-start-value="{{ (date().timestamp / 2)|round(0, 'floor') }}"
>
    <p class="text-center text-xl font-semibold text-base-content/50">
        Processed <span class="text-base-content/70" data-processed-counter-target="count">{{ ((date().timestamp / 2)|round(0, 'floor'))|number_format(0, '.', ',') }}</span> files and counting.
    </p>
</section>
